$colors: (
  neutral: (
    light: hsl(0, 0%, 100%),
    normal: hsl(0, 0%, 50%),
    dark: hsl(0, 0%, 0%),
  ),
  primary: (
    light: hsl(195, 53%, 79%),
    normal: hsl(240, 100%, 50%),
    dark: hsl(240, 100%, 27%),
  ),
);
