$ff-sans: "Open Sans", sans-serif;

$font-sizes: (
  900: 9.375rem,
  800: 6.25rem,
  700: 3.5rem,
  600: 2rem,
  500: 1.75rem,
  400: 1.125rem,
  300: 1rem,
  200: 0.875rem,
);

$fw-400: 400;
$fw-700: 700;
